.main-container {
  border: solid 1px #b7b6b6;
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.collection-display {
  position: absolute;
  top: 10px;
  left: 40px;
}

.pojos-download-btn {
  position: absolute;
  right: 10%;
  top: 15%;
}