.visualizer-container {
  width: 95%;
  min-height: 500px;
  height: auto;
  /* border: 1px solid grey; */
}

mongo-collection {
  float: left;
}

.visualizer-sidenav-content {
  display: flex-wrap;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.visualizer-sidenav {
  padding: 20px;
  width: 35%;
  background-color: #f1f1f1;
}

.main-container {
  border: solid 1px #b7b6b6;
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.collection-display {
  position: absolute;
  top: 10px;
  left: 40px;
}

.pojos-download-btn {
  position: absolute;
  right: 10%;
  top: 15%;
}

.app-version {
  margin-top: -10px;
  color: #a2a2a2;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

#screen {
  width: 100%;
  height: auto;
}

#download {
  display: none;
}