<mat-drawer-container class="visualizer-container" autosize>
  <mat-drawer #drawer [disableClose]="true" [opened]="true" class="visualizer-sidenav" mode="side">
    <visualizer-create-new-schema [(mode)]="mode" [(schema)]="selectedSchema" (onSave)="saveUpdatedSchema($event)" (onAdd)="addNewSchema($event)"></visualizer-create-new-schema>
    <button (click)="openFileBrowser($event)" style="margin-left: 10px" mat-raised-button color="primary">UPLOAD</button>
    <input id="jsonFileBrowserBtn" style="padding-left: 60px;display: none" type="file" multiple placeholder="Json Schema File" (change)="loadJsonFile($event.target.files)">
  </mat-drawer>

  <div #screen class="visualizer-sidenav-content">
    <!-- <button data-html2canvas-ignore style="top: 0px;" type="button" mat-button (click)="drawer.toggle()">Toggle Create Schema</button> -->
    <button *ngIf="collections.length > 0" data-html2canvas-ignore mat-button (click)="downloadSnapshot()">Download as Image</button>
    <div id="vis-disp" *ngFor="let collection of collections">
      <mongo-collection style="float: left" (onSelectingSchema)="editSchema($event)" [collection]="collection"></mongo-collection>
      <br>
    </div>
  </div>

  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>

</mat-drawer-container>