<mat-form-field class="schema-name">
  <mat-label>Collection Name</mat-label>
  <input matInput [(ngModel)]="schema.name" placeholder="Ex. Products">
</mat-form-field>
<mat-form-field class="schema-container">
  <mat-label>Define Schema</mat-label>
  <textarea [(ngModel)]="schema.definition" (change)="formatContent()" matInput rows="17" placeholder="Start Defining"></textarea>
</mat-form-field>
<button *ngIf="mode == 'CREATE'" (click)="addSchema()" style="margin-left: 10px" mat-raised-button color="primary">ADD</button>
<button *ngIf="mode == 'EDIT'" (click)="saveSchema()" style="margin-left: 10px" mat-raised-button color="primary">SAVE</button>